## connect sqlite3

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('C:/Users/shosh/Documents/Dataq/database/sqlite3/factbook.db')

q1 = "SELECT * FROM sqlite_master WHERE type='table';"
pd.read_sql_query(q1, conn)

OperationalError: unable to open database file

In [ ]:
q2 = "SELECT * from facts limit 5"
pd.read_sql_query(q2, conn)
# conn.close()

In [ ]:
q3 = "SELECT MIN(population) min_pop, MAX(population) max_pop, MIN(population_growth) min_pop_growth, MAX(population_growth) max_pop_growth from facts"
pd.read_sql_query(q3, conn)

In [ ]:
q4 = "SELECT * from facts where population == (select min(population) from facts)"
pd.read_sql_query(q4, conn)

In [ ]:
q5 = "SELECT * from facts where population == (SELECT MAX(population) from facts)"
pd.read_sql_query(q4, conn)

Antarctica has 0 population. Meanwhile World has 7.2 billion

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(111)

q6 = '''
SELECT population, population_growth, birth_rate, death_rate
from facts 
WHERE population != ((SELECT min(population) from facts) 
AND (SELECT max(population) from facts))
'''
pd.read_sql_query(q6,conn).hist(ax=ax)

### Which contries have the highest population density?

In [ ]:
q7 = '''
select name, cast(population as float)/cast(area as float) density 
from facts order by density desc limit 20
'''
pd.read_sql_query(q7,conn)

In [ ]:
fig = plt.figure(figsize=(10,10))
ax = fig.add_subplot(222)
pd.read_sql_query(q7, conn).hist(ax=ax)