In [1]:
# import pandas as pd
# data_files = [
#     "ap_2010.csv",
#     "class_size.csv",
#     "demographics.csv",
#     "graduation.csv",
#     "hs_directory.csv",
#     "sat_results.csv"
# ]

# data = {}

# for f in data_files:
#     d = pd.read_csv('schools/{0}'.format(f))
#     key_name = f.replace('.csv', '')
#     data[key_name] = d

import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt

data_files = [
    'call_center_detail.csv',
    'agent_call_detail.csv'
]

data = {}
for f in data_files:
    d =pd.read_csv('C:/Users/User/Documents/Work/Data/call_volume/{0}'.format(f), index_col=0)
    key_name = f.replace('.csv','')
    data[key_name] = d
    
data['ccd'] = data['call_center_detail']
data['acd'] = data['agent_call_detail']

In [2]:
#change snakecase for column
data['ccd'].columns = data['ccd'].columns.str.lower()
data['ccd'].columns = data['ccd'].columns.str.replace(' ', '_')
data['ccd'].index.name = 'call_center_name'


data['acd'].columns = data['acd'].columns.str.lower()
data['acd'].columns = data['acd'].columns.str.replace(' ', '_')
data['acd'].index.name = 'agent_name'
# acd.tail()
data['acd'].tail()

,call_start_time,call_end_time,call_type,skill_level,callers/called_number,number_called,wait_time_in_queue,staffed,talk_time,hold_time,wrap_up_time,transfer_number,transfer_location_,disposition_codes
agent_name,,,,,,,,,,,,,,
"Berman, Raul","04/05/2019, 05:50:40 PM","04/05/2019, 06:00:02 PM",Outbound,NaN,18004633339,NaN,NaN,No,0:09:20,0:00:00,NaN,NaN,NaN,NaN
"Choi, Michael","04/05/2019, 05:51:26 PM","04/05/2019, 05:52:13 PM",Outbound,NaN,5623210400,NaN,NaN,Yes,0:00:14,0:00:00,NaN,NaN,NaN,NaN
"Choi, Michael","04/05/2019, 05:55:40 PM","04/05/2019, 05:56:16 PM",Outbound,NaN,5623210400,NaN,NaN,Yes,0:00:03,0:00:00,NaN,NaN,NaN,NaN
"Choi, Michael","04/05/2019, 05:57:05 PM","04/05/2019, 05:58:16 PM",Outbound,NaN,6194104386,NaN,NaN,Yes,0:00:44,0:00:00,NaN,NaN,NaN,NaN
"Choi, Michael","04/07/2019, 07:47:00 PM","04/07/2019, 07:52:35 PM",Inbound ACD,NaN,4178241190,8.625793e+09,0:00:04,Yes,0:05:22,0:00:00,0:01:00,NaN,NaN,NaN

In [3]:
agent_names = {'Ramos, Jessica':'jessica', 'Anderson, Rachel':'rachel','Berman, Raul':'raul',
               'Byerly, Stephani':'stephani', 'PH, HATWO':'belle', 'Choi, Michael':'michael', 
               'Bona, Marie':'marie', 'PH, HAMGR':'mel_manager'}

client_names = {'Agostino':'agostino', 'Crosley':'crosley', 'DaewooDAE':'daewoo_dae', 
                'DaewooASC':'daewoo_asc', 'Home Easy':'home_easy', 'Klasse':'klasse', 
               'Shinco':'shinco', 'Signet':'signet', 'Hyundai Mobile':'hyundai_mobile', 'Midea':'midea', 
               'Winia DimChae':'dimchae' }

# cc.rename(index=client_names, inplace=True)
# cc['agent_name'] = cc['agent_name'].map(agent_names)

# cc['call_start_month'] = cc['call_start_time'].str[:2]
# cc['call_start_day'] = cc['call_start_time'].str[3:5]
# cc['call_start_hour'] = cc['call_start_time'].str[11:14]

data['acd'].rename(index=agent_names, inplace=True)
data['acd']['agent_name'] = data['acd'].index

data['acd'].tail()

,call_start_time,call_end_time,call_type,skill_level,callers/called_number,number_called,wait_time_in_queue,staffed,talk_time,hold_time,wrap_up_time,transfer_number,transfer_location_,disposition_codes,agent_name
agent_name,,,,,,,,,,,,,,,
raul,"04/05/2019, 05:50:40 PM","04/05/2019, 06:00:02 PM",Outbound,NaN,18004633339,NaN,NaN,No,0:09:20,0:00:00,NaN,NaN,NaN,NaN,raul
michael,"04/05/2019, 05:51:26 PM","04/05/2019, 05:52:13 PM",Outbound,NaN,5623210400,NaN,NaN,Yes,0:00:14,0:00:00,NaN,NaN,NaN,NaN,michael
michael,"04/05/2019, 05:55:40 PM","04/05/2019, 05:56:16 PM",Outbound,NaN,5623210400,NaN,NaN,Yes,0:00:03,0:00:00,NaN,NaN,NaN,NaN,michael
michael,"04/05/2019, 05:57:05 PM","04/05/2019, 05:58:16 PM",Outbound,NaN,6194104386,NaN,NaN,Yes,0:00:44,0:00:00,NaN,NaN,NaN,NaN,michael
michael,"04/07/2019, 07:47:00 PM","04/07/2019, 07:52:35 PM",Inbound ACD,NaN,4178241190,8.625793e+09,0:00:04,Yes,0:05:22,0:00:00,0:01:00,NaN,NaN,NaN,michael

`groupby` `agent_name` and then select `micheal`

In [4]:
# string to int
#df.ID = pd.to_numeric(df.ID, errors='coerce')
# cc['call_start_month'] = pd.to_numeric(cc['call_start_month'], errors='coerce')
# cc['call_start_day'] = pd.to_numeric(cc['call_start_day'], errors='coerce')
# cc['call_start_hour'] = pd.to_numeric(cc['call_start_hour'], errors='coerce')

data['acd']['call_start_month'] = data['acd']['call_start_time'].str[:2]
data['acd']['call_start_date'] = data['acd']['call_start_time'].str[3:5]

time_lists = ['month','date']
for t in time_lists:
    time = 'call_start_' + t
    data['acd'][time] = pd.to_numeric(data['acd'][time], errors='coerce')

data['acd'].info()
data['acd'].tail()

<class 'pandas.core.frame.DataFrame'>
Index: 7334 entries, rachel to michael
Data columns (total 17 columns):
call_start_time          7334 non-null object
call_end_time            7334 non-null object
call_type                7334 non-null object
skill_level              0 non-null float64
callers/called_number    7334 non-null object
number_called            4730 non-null float64
wait_time_in_queue       4730 non-null object
staffed                  7334 non-null object
talk_time                7334 non-null object
hold_time                7334 non-null object
wrap_up_time             5169 non-null object
transfer_number          0 non-null float64
transfer_location_       0 non-null float64
disposition_codes        0 non-null float64
agent_name               7334 non-null object
call_start_month         7334 non-null int64
call_start_date          7334 non-null int64
dtypes: float64(5), int64(2), object(10)
memory usage: 1.0+ MB

,call_start_time,call_end_time,call_type,skill_level,callers/called_number,number_called,wait_time_in_queue,staffed,talk_time,hold_time,wrap_up_time,transfer_number,transfer_location_,disposition_codes,agent_name,call_start_month,call_start_date
agent_name,,,,,,,,,,,,,,,,,
raul,"04/05/2019, 05:50:40 PM","04/05/2019, 06:00:02 PM",Outbound,NaN,18004633339,NaN,NaN,No,0:09:20,0:00:00,NaN,NaN,NaN,NaN,raul,4,5
michael,"04/05/2019, 05:51:26 PM","04/05/2019, 05:52:13 PM",Outbound,NaN,5623210400,NaN,NaN,Yes,0:00:14,0:00:00,NaN,NaN,NaN,NaN,michael,4,5
michael,"04/05/2019, 05:55:40 PM","04/05/2019, 05:56:16 PM",Outbound,NaN,5623210400,NaN,NaN,Yes,0:00:03,0:00:00,NaN,NaN,NaN,NaN,michael,4,5
michael,"04/05/2019, 05:57:05 PM","04/05/2019, 05:58:16 PM",Outbound,NaN,6194104386,NaN,NaN,Yes,0:00:44,0:00:00,NaN,NaN,NaN,NaN,michael,4,5
michael,"04/07/2019, 07:47:00 PM","04/07/2019, 07:52:35 PM",Inbound ACD,NaN,4178241190,8.625793e+09,0:00:04,Yes,0:05:22,0:00:00,0:01:00,NaN,NaN,NaN,michael,4,7

In [5]:
# raw_data['Mycol'] =  pd.to_datetime(raw_data['Mycol'], format='%d%b%Y:%H:%M:%S.%f')
data['acd']['call_start_time'] = pd.to_datetime(data['acd']['call_start_time'] )
# df['Week_Number'] = df['Date'].dt.strftime('%U')
data['acd']['call_start_week'] = data['acd']['call_start_time'].dt.week

# day_name returns integer in array, so change to day name 
weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
def day_name(day):
    return weekdays[day]
data['acd']['call_start_day'] = data['acd']['call_start_time'].dt.day_name()

# acd.info()
data['acd'].head()

,call_start_time,call_end_time,call_type,skill_level,callers/called_number,number_called,wait_time_in_queue,staffed,talk_time,hold_time,wrap_up_time,transfer_number,transfer_location_,disposition_codes,agent_name,call_start_month,call_start_date,call_start_week,call_start_day
agent_name,,,,,,,,,,,,,,,,,,,
rachel,2019-01-03 09:00:53,"01/03/2019, 09:08:47 AM",Inbound ACD,NaN,7165490262,8.625792e+09,0:06:18,Yes,0:07:22,0:00:25,0:00:00,NaN,NaN,NaN,rachel,1,3,1,Thursday
"Baysic, Raffy",2019-01-03 09:13:55,"01/03/2019, 09:20:23 AM",Inbound ACD,NaN,3056389890,8.625792e+09,0:00:04,Yes,0:01:10,0:05:13,0:00:00,NaN,NaN,NaN,"Baysic, Raffy",1,3,1,Thursday
raul,2019-01-03 09:14:45,"01/03/2019, 09:18:23 AM",Outbound ACD,NaN,8004583625,NaN,NaN,No,0:03:36,0:00:00,0:00:00,NaN,NaN,NaN,raul,1,3,1,Thursday
"Baysic, Raffy",2019-01-03 09:22:12,"01/03/2019, 09:22:40 AM",Outbound,NaN,16269170608,NaN,NaN,Yes,0:00:04,0:00:00,NaN,NaN,NaN,NaN,"Baysic, Raffy",1,3,1,Thursday
jessica,2019-01-03 09:26:06,"01/03/2019, 09:27:20 AM",Outbound,NaN,3059895511,NaN,NaN,Yes,0:00:56,0:00:00,NaN,NaN,NaN,NaN,jessica,1,3,1,Thursday

In [6]:
# acd['talk_time'] = pd.to_datetime(acd['talk_time'])


#  pd.to_numeric(ID, errors='coerce')
data['acd']['tt_hour'] = data['acd']['talk_time'].str[:1]
data['acd']['tt_min'] = data['acd']['talk_time'].str[2:4]

# acd['tt_hour'] = pd.to_numeric(acd['tt_hour'], errors='coerce')
data['acd']['tt_min'] = pd.to_numeric(data['acd']['tt_min'], errors='coerce')
data['acd']['tt_min'] = np.around(data['acd']['tt_min'], -1)  
# acd['call_end_time'] = pd.to_datetime(acd['call_end_time'], errors='coerce')
data['acd']['talk_time'] = pd.to_datetime(data['acd']['talk_time'])

data['acd'].info()
data['acd'].tail()
data['ccd'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 7334 entries, rachel to michael
Data columns (total 21 columns):
call_start_time          7334 non-null datetime64[ns]
call_end_time            7334 non-null object
call_type                7334 non-null object
skill_level              0 non-null float64
callers/called_number    7334 non-null object
number_called            4730 non-null float64
wait_time_in_queue       4730 non-null object
staffed                  7334 non-null object
talk_time                7334 non-null datetime64[ns]
hold_time                7334 non-null object
wrap_up_time             5169 non-null object
transfer_number          0 non-null float64
transfer_location_       0 non-null float64
disposition_codes        0 non-null float64
agent_name               7334 non-null object
call_start_month         7334 non-null int64
call_start_date          7334 non-null int64
call_start_week          7334 non-null int64
call_start_day           7334 non-null object
tt_hour                  7334 non-null object
tt_min                   7334 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(4), object(10)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 5527 entries, DaewooDAE to Signet
Data columns (total 19 columns):
call_start_time            5527 non-null object
call_answer_time           4828 non-null object
call_end_time              5527 non-null object
call_type                  5527 non-null object
agent_name                 4828 non-null object
agent_number/extension     4828 non-null object
skill_level                0 non-null float64
callers_number             5527 non-null object
policy_applied             114 non-null object
call_result                5413 non-null object
wait_time                  5413 non-null object
transfer_number            0 non-null float64
number_of_bounces          5413 non-null float64
bounced_transfer_number    0 non-null float64
talk_time                  4828 non-null object
hold_time                  4828 non-null object
wrap_up_time               4828 non-null object
agent_transfer_number      0 non-null float64
disposition_codes          0 non-null float64
dtypes: float64(6), object(13)
memory usage: 863.6+ KB

In [7]:
# Columns to keep from Data dictionary
# survey['DBN'] = survey['dbn']
# columns_to_kep = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
# survey = survey.loc[:, columns_to_kep]
# data['survey'] = survey


# col_to_keep = [ 'agent_name','call_start_time', 'call_end_time', 'talk_time','call_type',
#                'call_start_month', 'call_start_week', 'call_start_date','call_start_day','tt_min']
# data['ccd'].loc[:, col_to_keep]

`groupby.size()` returns a series and contains just one value. each value represents the number of rows in each group

In [8]:
# merge_list=['call_start_time','call_end_time', 'agent_name', 'call_type', 'talk_time']
# combined = pd.merge(left=cc, right=acd, how='outer', 
#                     on=merge_list, left_index=True, right_index=True, suffixes=('_x','_y'),
#                    copy=True, validate=None)

cleaned_col = [ 'agent_name','call_start_time', 'call_end_time', 'talk_time','call_type',
               'call_start_month', 'call_start_week', 'call_start_date','call_start_day','tt_min']
data['acd'] = data['acd'].loc[:, cleaned_col].copy()
data['combined'] = pd.merge(data['ccd'], data['acd'], on=data['ccd']['call_start_time'], how='outer')

KeyError: call_center_name
DaewooDAE         01/02/2019, 08:10:32 AM
DaewooDAE         01/02/2019, 08:12:49 AM
DaewooDAE         01/02/2019, 08:25:22 AM
DaewooDAE         01/02/2019, 08:34:36 AM
Crosley           01/02/2019, 08:39:01 AM
DaewooDAE         01/02/2019, 08:46:27 AM
DaewooASC         01/02/2019, 09:08:22 AM
DaewooDAE         01/02/2019, 09:09:11 AM
DaewooDAE         01/02/2019, 09:09:13 AM
DaewooASC         01/02/2019, 09:09:53 AM
DaewooASC         01/02/2019, 09:16:32 AM
DaewooDAE         01/02/2019, 09:17:06 AM
DaewooDAE         01/02/2019, 09:26:40 AM
DaewooDAE         01/02/2019, 09:29:07 AM
Home Easy         01/02/2019, 09:30:28 AM
DaewooDAE         01/02/2019, 09:30:46 AM
DaewooDAE         01/02/2019, 09:33:24 AM
DaewooDAE         01/02/2019, 09:54:05 AM
Crosley           01/02/2019, 09:56:10 AM
Home Easy         01/02/2019, 09:57:19 AM
DaewooDAE         01/02/2019, 09:59:53 AM
Crosley           01/02/2019, 10:01:42 AM
Crosley           01/02/2019, 10:02:29 AM
Crosley           01/02/2019, 10:03:16 AM
Crosley           01/02/2019, 10:06:31 AM
Home Easy         01/02/2019, 10:10:08 AM
Midea             01/02/2019, 10:15:59 AM
DaewooDAE         01/02/2019, 10:20:25 AM
Crosley           01/02/2019, 10:21:12 AM
DaewooDAE         01/02/2019, 10:25:54 AM
                           ...
Home Easy         04/05/2019, 03:11:10 PM
Crosley           04/05/2019, 03:21:19 PM
Crosley           04/05/2019, 03:22:50 PM
DaewooASC         04/05/2019, 03:29:10 PM
Crosley           04/05/2019, 03:34:13 PM
DaewooDAE         04/05/2019, 03:37:32 PM
DaewooDAE         04/05/2019, 03:39:14 PM
Home Easy         04/05/2019, 03:40:39 PM
DaewooDAE         04/05/2019, 03:40:50 PM
DaewooDAE         04/05/2019, 03:45:21 PM
Home Easy         04/05/2019, 03:57:11 PM
Klasse            04/05/2019, 04:01:49 PM
Home Easy         04/05/2019, 04:08:22 PM
DaewooDAE         04/05/2019, 04:12:00 PM
Signet            04/05/2019, 04:15:54 PM
Signet            04/05/2019, 04:16:21 PM
Hyundai Mobile    04/05/2019, 04:23:04 PM
DaewooDAE         04/05/2019, 04:25:51 PM
Crosley           04/05/2019, 04:35:20 PM
Signet            04/05/2019, 04:35:40 PM
Home Easy         04/05/2019, 04:36:11 PM
Home Easy         04/05/2019, 04:40:06 PM
Signet            04/05/2019, 04:54:47 PM
Signet            04/05/2019, 04:57:09 PM
Signet            04/05/2019, 05:00:14 PM
DaewooDAE         04/05/2019, 05:31:58 PM
DaewooDAE         04/05/2019, 05:32:48 PM
Agostino          04/05/2019, 05:50:32 PM
Signet            04/05/2019, 05:57:08 PM
Signet            04/07/2019, 07:46:56 PM
Name: call_start_time, Length: 5527, dtype: object