In [2]:
import sqlite3
conn = sqlite3.connect('factbook.db')

In [4]:
schema = conn.execute('pragma table_info(facts);').fetchall()
for s in schema:
    print(s)

(0, 'id', 'INTEGER', 1, None, 1)
(1, 'code', 'varchar(255)', 1, None, 0)
(2, 'name', 'varchar(255)', 1, None, 0)
(3, 'area', 'integer', 0, None, 0)
(4, 'area_land', 'integer', 0, None, 0)
(5, 'area_water', 'integer', 0, None, 0)
(6, 'population', 'integer', 0, None, 0)
(7, 'population_growth', 'float', 0, None, 0)
(8, 'birth_rate', 'float', 0, None, 0)
(9, 'death_rate', 'float', 0, None, 0)
(10, 'migration_rate', 'float', 0, None, 0)
(11, 'created_at', 'datetime', 0, None, 0)
(12, 'updated_at', 'datetime', 0, None, 0)

In [6]:
query_plan_one = conn.execute('EXPLAIN query PLAN select * FROM facts WHERE area > 40000;').fetchall()
query_plan_two = conn.execute('EXPLAIN query PLAN select area FROM facts WHERE area > 40000;').fetchall()
query_plan_three = conn.execute("EXPLAIN query PLAN select * FROM facts WHERE name = 'Czech Republic';").fetchall()
print(query_plan_one)
print(query_plan_two)
print(query_plan_three)

[(0, 0, 0, 'SCAN TABLE facts')]
[(0, 0, 0, 'SCAN TABLE facts')]
[(0, 0, 0, 'SCAN TABLE facts')]

In [9]:
query_plan_four = conn.execute('EXPLAIN query PLAN select * FROM facts WHERE id = 20;').fetchall()
print(query_plan_four)

[(0, 0, 0, 'SEARCH TABLE facts USING INTEGER PRIMARY KEY (rowid=?)')]

In [11]:
query_plan_six = conn.execute('EXPLAIN query PLAN select * FROM facts WHERE population > 10000;').fetchall()
print(query_plan_five)
conn.execute("create index if not exists pop_inx on facts(population)").fetchall()
query_plan_seven = conn.execute('EXPLAIN query PLAN select * FROM facts WHERE population > 10000;').fetchall()
print(query_plan_seven)

[(0, 0, 0, 'SCAN TABLE facts')]
[(0, 0, 0, 'SEARCH TABLE facts USING INDEX pop_inx (population>?)')]